.link {
    font-size: 1.25rem;
    line-height: 1.9rem;
    text-decoration: none;
    
    
}

.link:hover {
    background: black;
    border-radius: 2px;
}

.linkDestacado {
    text-decoration: none;
    
}


.linkDestacado:hover {
    background: #555555;
    border-radius: 2px;
}