.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration: none;
    
}

.linkDestacado {
    text-decoration: none;
    
}

.link:hover {
    background: #555555;
    border-radius: 2px;
}

.linkDestacado:hover {
    background: #555555;
    border-radius: 2px;
}