.link {
    font-size: 1.25rem;
    line-height: 1.9rem;
    text-decoration: none;
    
    
}

.link:hover {
    border-radius: 2px;
}

.linkDestacado {
    text-decoration: none;
    
}


.linkDestacado:hover {
    border-radius: 2px;
}

 @media screen and (max-width: 380px) {
    .link {
        font-size: 25px;
        font-weight: bold;
    }

  }

  @media screen and (max-width: 470px) {
    .link {
        font-size: 25px;
        font-weight: bold;
    }   
  }